/* Spotify controls (original snippet by @fripe: https://discord.com/channels/1015060230222131221/1028106818368589824/1367926149497225287) */
#vc-spotify-player {
  --blur-amount: 4px; 
  --normal-bg-colour: var(--bg-overlay-floating, var(--background-base-low, var(--background-secondary-alt)));

  border-top: 1px solid var(--border-subtle);
  position: relative;
  background: transparent !important;
  transition: all 0.4s ease-out;
  padding: 12px 16px 12px 20px !important;
  > * {
    filter: drop-shadow(0 0 10px var(--normal-bg-colour));
  }
}
._5e434347c823b592-panels:hover #vc-spotify-player {
  --blur-amount: 0px;
}
#vc-spotify-player::before,
#vc-spotify-player::after {
  z-index: -1;
  content: "";
  position: absolute;
  height: 204px;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s ease-out;
}
#vc-spotify-player::before {
  background: var(--vc-spotify-track-image);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);
  background-position: center; 
  background-size: cover; 
  opacity: 0.5;
}
._5e434347c823b592-panels:hover #vc-spotify-player::before {
  opacity: 0.7;
}
#vc-spotify-player::after {
  backdrop-filter: blur(var(--blur-amount));
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"] {
  background-color: white !important;
  background: var(--vc-spotify-track-image);
  background-size: 1px 100%;
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"]::before {
  content: "";
  position: fixed;
  height: inherit;
  width: inherit;
  top: inherit;
  left: inherit;
  border-radius: 4px 0 0 4px;
  backdrop-filter: blur(10px) saturate(4) brightness(1.6);
}
.theme-dark .vc-spotify-lyrics {
background: var(--vc-spotify-track-image);
}

.vc-spotify-button-row {
  position: relative;
  height: 0;
  top: -84px;
  left: 80px;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  /* Legalize nuclear bombs */
}

.vc-spotify-button-row:hover {
  opacity: 1;
}

/* Settings modal */
._23e6b439306f125a-sidebarRegionScroller, ._23e6b439306f125a-contentRegion, ._23e6b439306f125a-contentRegionScroller {
 background: rgba(0,0,0,0) !important;
}

@keyframes blurFadeIn {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(20px);
  }
}

.visual-refresh ._23e6b439306f125a-standardSidebarView {
  transform: translate3d(0, 0, 0);
  background: rgba(0,0,0,0.3);
  opacity: 1 !important;
  transform: none !important;
  width: 60vw;
  left: 20vw;
  height: 90vh;
  top: 5vh;
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-lg);
  animation: blurFadeIn 0.5s ease-out forwards;
  animation-delay: 0.5s;

  ._23e6b439306f125a-contentRegion {
    width: calc(60vw - 270px);
    display: block;
    flex: none;
    ._23e6b439306f125a-contentRegionScroller {
      height: calc(90vh - 3vh);
    }
  }
}

._960e4207cea8323e-baseLayer {
  opacity: 1 !important;
  transform: unset !important;
}